/* font integration */
@font-face {
  src: url(../fonts/playfair-display/PlayfairDisplay-Regular.otf);
  font-family: PlayfairDisplay-Regular;
}
@font-face {
  src: url(../fonts/ubuntu/Ubuntu-L.ttf);
  font-family: Ubuntu-L;
}
/* Common part starts */
*{
  margin: 0;
  padding: 0;
}
/* =====  1st Slider start  ===== */
.banner{
  background-image: url(../images/three.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner .car_inner{
  margin: 10% 0;
}
.banner .slider{
  padding: 13%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.slider p{
  margin: 7% 0;
}
.slider button{
  border-radius: 10px;
  border: none;
  width: 40%;
  padding: 1% 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}
.car_indicaror [data-bs-target] {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
/* =====  1st Slider end  ===== */

/* =====  2nd Slider start  ===== */
.banner2 .car_indicator{
  margin: 0;
  display: block;
  bottom: 36%;
  left: 92%;
}
.banner2 .car_indicator button{
  display: block !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 100%;
}
.banner2 .c_caption{
  padding: 12% 0;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 13%;
}
.banner2 .car_prev, .car_next{
  width: 3%;
  top: 78%;
}
.banner2 .car_prev{
  left: 8%;
}
.banner2 .car_next{
  right: 86%;
}

/* =====  2nd Slider end  ===== */